/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
.App-link {
  color: #61dafb;
}

.center {
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

.centerText {
  text-align: center;
}

div.nav {
  display: flex;
}
div.nav button {
  margin-top: 1em;
  background-color: #4b5d67;
  color: white;
}
